  /* Fondo oscuro general */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #0f1115, #1c1f24);
  font-family: 'Inter', sans-serif;
}

/* Caja del login */
.login-container {
  background: rgba(20, 22, 25, 0.9);
  padding: 40px;
  border-radius: 18px;
  width: 380px;
  box-shadow: 0px 0px 22px rgba(0,255,128,0.15);
  text-align: center;
  border: 1px solid rgba(0,255,128,0.25);
}

/* Logo */
.logo {
  width: 120px;
  margin-bottom: 15px;
}

/* Título */
h2 {
  color: #00ff80;
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 700;
}

/* Form fields */
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

/* Botón login */
.btn-login {
  width: 100%;
  background: #00d26a;
  color: black;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s ease;
}

.btn-login:hover {
  background: #00ff95;
}
