<div class="container">
<div style="text-align: center; margin: 5%"><h2>Lista de Usuarios</h2></div>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="a">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id_usuario}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="b">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="c">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="d">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="e">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="f">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="FK">
  <th mat-header-cell *matHeaderCellDef> Roles </th>
  <td mat-cell *matCellDef="let element">
  @if (element.roles?.length > 0) {
    
    @for (r of element.roles; track $index) {
      {{ r.nombre_rol }}
      @if ($index < element.roles.length - 1) {
        , 
      }
    }

  } @else {
    Sin roles
  }

</td>
</ng-container>


 <ng-container matColumnDef="g">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button  matButton
            [routerLink]="['edits',element.id_usuario]" >
            <mat-icon>edit</mat-icon>
            
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="j">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button  matButton 
            (click)="eliminar(element.id_usuario)" >
             <mat-icon>delete</mat-icon>
            
          </button>
        </td>
      </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


</div>

</div>

