<div class="container">
  <div style="text-align: center; margin: 5%"><h2>Registro de dispositivos</h2></div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
      @if(edicion){
        <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" type="text" readonly/>
      </mat-form-field>
      }
      <br />
      <mat-form-field>
        <mat-label>Tipo de Vehiculo</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error> @if (form.get('nombre')?.hasError('required')) { Ingrese el Tipo de Vehiculo!! } </mat-error>
      </mat-form-field>
      <br />
      <div>
        <button matButton="elevated">Guardar</button>
      </div>
    </form>
  </div>
</div>

