<div class="container">
  <mat-toolbar class="custom-toolbar">
    <button 
      mat-button 
      routerLink="/menu"
      class="btn-rojo" 
      aria-label="Inicio">
      <mat-icon>home</mat-icon>
      Inicio
    </button>
    <button 
    matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuDevice">
      <mat-icon>menu</mat-icon>Roles
    </button>
  </mat-toolbar>
  <mat-menu #menuDevice="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
  <button mat-menu-item routerLink="/roles/nuevo">Registrar</button>
  </mat-menu>
</div>
<div [hidden]="route.children.length!=0">
    <app-rol-listar></app-rol-listar>
</div>
<router-outlet></router-outlet>
