<div class="container">

  <div style="text-align: center; margin: 5%">
    <h2>Lista de Notificaciones</h2>
  </div>

  <div class="card-grid">

    @for (element of dataSource.data; track element.id_notificacion) {

    <mat-card class="notif-card mat-elevation-z4">

      <mat-card-header>
        <mat-card-title>Notificación #{{ element.id_notificacion }}</mat-card-title>
        <mat-card-subtitle>{{ element.mensaje }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>ID:</strong> {{ element.id_notificacion }}</p>
        <p><strong>Mensaje:</strong> {{ element.mensaje }}</p>
      </mat-card-content>


    </mat-card>

    }

  </div>

</div>
