<div class="main-content">

  <div style="text-align: center; margin: 5%">
    <h2>{{ edicion ? 'Edición de Delito' : 'Registrar Delito' }}</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">

      @if (edicion) {
      <mat-form-field class="example-full-width">
        <mat-label>ID:</mat-label>
        <input matInput formControlName="codigo" readonly="true" />
        <mat-error> @if (form.get('id')?.hasError('required')) { Ingrese ID!! } </mat-error>
      </mat-form-field>
      }
      <br />

      <mat-form-field>
        <mat-label>Delito</mat-label>
        <mat-select formControlName="tipo" required>
          @for (t of tiposDelito; track t) {
          <mat-option [value]="t.value">{{ t.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('tipo')?.hasError('required')) { El tipo es obligatorio. }
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="desc" />
        <mat-error>
          @if (form.get('desc')?.hasError('required')) { Ingrese Descripcion!! }
        </mat-error>
      </mat-form-field>

      <br />

      <div>
        <mat-form-field>
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hora</mat-label>
          <input matInput type="time" formControlName="hora" />
        </mat-form-field>
      </div>

      <br />

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error>
          @if (form.get('nombre')?.hasError('required')) { Ingrese nombre!! }
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="FK">
          @for (dev of listaUsuarios; track dev) {
          <mat-option [value]="dev.id_usuario">{{ dev.nombre }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Zona</mat-label>
        <mat-select formControlName="FK2">
          @for (dev of listaZonas; track dev) {
          <mat-option [value]="dev.idZona">{{ dev.nombre }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <button matButton="elevated">{{ edicion ? 'Editar' : 'Registrar' }}</button>
      </div>

    </form>
  </div>

</div>
