<div class="container">
  <mat-toolbar class="custom-toolbar">
    <button 
    matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuDevice">
      <mat-icon>menu</mat-icon>Zonas
    </button>
  </mat-toolbar>
  <mat-menu #menuDevice="matMenu">
  <button mat-menu-item routerLink="/zonas">Listar</button>
  <button mat-menu-item routerLink="/zonas/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/menu">Menu</button>
  </mat-menu>
</div>
<div [hidden]="route.children.length!=0">
    <app-zonalistar></app-zonalistar>
</div>
<router-outlet></router-outlet>