
  @if(verificar()){

    <mat-toolbar class="custom-toolbar">
    <button mat-button [routerLink]="['/homes']" class="btn-rojo">
      <mat-icon>home</mat-icon>Home
    </button>


    @if(isAdmin() || isMod()) {
    
    <button matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuTipoVehiculo">
      <mat-icon>directions_car</mat-icon>Tipos Vehiculos
    </button> 
    }

    @if(isAdmin() || isMod() || isUser()){
    <button matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuZona">
      <mat-icon>map</mat-icon>Zonas
    </button> 

    }


    @if(isAdmin()){

    <button matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuRol">
      <mat-icon>vpn_key</mat-icon>Roles
    </button> 
    
    }
    

    @if(isAdmin() || isMod() || isAutoridad()){
      
    <button matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuUsuario">
      <mat-icon>supervisor_account</mat-icon>Usuarios
    </button> 

    }


    @if(isAdmin() || isMod() || isAutoridad() || isUser()){

    <button matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuDelito">
      <mat-icon>add_alert</mat-icon>Delitos
    </button> 

    }
    

    @if(isAdmin() || isMod() || isUser()){

    <button matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuNotifiacion">
      <mat-icon>notifications_active</mat-icon>Notificaciones
    </button> 

    }


    @if(isAdmin() || isMod() || isAutoridad() || isUser()){

    <button matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuResenia">
      <mat-icon>thumb_up_alt</mat-icon>Reseñas
    </button> 

    <button matButton 
    class="btn-rojo" 
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuRuta">
      <mat-icon>near_me</mat-icon>Rutas
    </button> 


      <button matButton 
      class="btn-rojo" 
      aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menuReporte">
        <mat-icon>developer_mode</mat-icon>Reportes
      </button>

  }

     

  
  <span class="spacer"> </span>
  
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon>User
    </button>
    
  </mat-toolbar>
}


<mat-menu #menuTipoVehiculo="matMenu">
  <button mat-menu-item routerLink="/tipovehiculos"><mat-icon>list</mat-icon>Listar</button>
  @if(isAdmin()) {
  <button mat-menu-item routerLink="/tipovehiculos/nuevo"><mat-icon>add</mat-icon>Registrar</button>
  }
</mat-menu>

<mat-menu #menuZona="matMenu">
  <button mat-menu-item routerLink="/zonas"><mat-icon>list</mat-icon>Listar</button>
  @if(isAdmin()) {
  <button mat-menu-item routerLink="/zonas/nuevo"><mat-icon>add</mat-icon>Registrar</button>
  }
</mat-menu>

<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/roles"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/roles/nuevo"><mat-icon>add</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios"><mat-icon>list</mat-icon>Listar</button>
  @if(isAdmin()) {
  <button mat-menu-item routerLink="/usuarios/nuevo"><mat-icon>add</mat-icon>Registrar</button>
  }
</mat-menu>

<mat-menu #menuDelito="matMenu">
  <button mat-menu-item routerLink="/delitos"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/delitos/nuevo"><mat-icon>add</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuNotifiacion="matMenu">
  <button mat-menu-item routerLink="/notificaciones"><mat-icon>list</mat-icon>Listar</button>
  @if(isAdmin() || isMod()) {
  <button mat-menu-item routerLink="/notificaciones/nuevo"><mat-icon>add</mat-icon>Registrar</button>
  }
</mat-menu>

<mat-menu #menuResenia="matMenu">
  <button mat-menu-item routerLink="/resenias"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/resenias/nuevo"><mat-icon>add</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuRuta="matMenu">
  <button mat-menu-item routerLink="/rutas"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/rutas/nuevo"><mat-icon>add</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuReporte="matMenu">
  <button mat-menu-item routerLink="/delitosPorZyD"><mat-icon>liplay_arrows</mat-icon>Delitos Por Z y D</button>
  <button mat-menu-item routerLink="/delitosPorHyZ"><mat-icon>liplay_arrows</mat-icon>Delitos Por H y Z</button>
  <button mat-menu-item routerLink="/masNotificacionesPorUsuario"><mat-icon>liplay_arrows</mat-icon>Mas notificaciones por usuario </button>
  <button mat-menu-item routerLink="/masNotificacionesPorZona"><mat-icon>liplay_arrows</mat-icon>Mas notificaciones por zona </button>
  <button mat-menu-item routerLink="/cantidadRutasPorTVehiculo"><mat-icon>liplay_arrows</mat-icon>Rutas por vehiculo </button>
  <button mat-menu-item routerLink="/cantidadDelitosPorMes"><mat-icon>liplay_arrows</mat-icon>Delitos por mes </button>
</mat-menu>


<mat-menu #menuSalir="matMenu">
    <button mat-menu-item routerLink="/login" (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    <button mat-menu-item>
      Rol:
      <span>{{ role }}</span>
    </button>
  </mat-menu>


