table {
  background: #111418;
  color: white;
}

th {
  background: #00d26a;
  color: rgb(226, 217, 217) !important;
  font-weight: 700;
}

td {
  color: #e8e8e8;
}

button[matButton] {
  background: #00d26a;
  color: black;
  border-radius: 8px;
}

th.mat-header-cell {
  color: #d8fdd0 !important;  /* verde muy claro */
  font-weight: 600;
  font-size: 14px;
}


button[matButton]:hover {
  background: #00ff95;
}

h2 {
  color: #00ff80 !important;  
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}


.user-card {
  background: #1a1d21 !important;   /* Fondo oscuro elegante */
  color: #e8e8e8 !important;        /* Texto claro */
  border-radius: 16px !important;   /* Bordes redondeados */
  padding: 20px;
  width: 350px;
}

/* Título del card */
.user-card .mat-card-title {
  color: #00ff80 !important;        /* Verde neon de tu tema */
  font-size: 24px;
  font-weight: 700;
}

/* Subtítulo (correo) */
.user-card .mat-card-subtitle {
  color: #f2f2f2 !important;
  font-size: 16px;
}

/* Texto dentro del card */
.user-card p {
  color: #c7c7c7;                   /* Gris claro */
  margin: 4px 0;
  font-size: 15px;
}

/* Etiquetas (ID:, Teléfono:, etc.) */
.user-card p strong {
  color: #ffffff;                   /* Blanco puro */
}

/* Acciones (botones editar/eliminar) */
.user-card .mat-card-actions button {
  color: #00d26a !important;        /* Verde corporativo */
}

.user-card .mat-card-actions button:hover {
  color: #00ff95 !important;
}
