<div class="container">
  <div style="text-align: center; margin: 5%"><h2>Lista de Rutas</h2></div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      <!-- ID Ruta Column -->
      <ng-container matColumnDef="a">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id_ruta }}</td>
      </ng-container>

      <!-- Origen Column (usando 'origin' del backend) -->
      <ng-container matColumnDef="b">
        <th mat-header-cell *matHeaderCellDef>Origen</th>
        <td mat-cell *matCellDef="let element">{{ element.origen }}</td>
      </ng-container>

      <!-- Destino Column -->
      <ng-container matColumnDef="d">
        <th mat-header-cell *matHeaderCellDef>Destino</th>
        <td mat-cell *matCellDef="let element">{{ element.destino }}</td>
      </ng-container>

      <!-- Tipo Vehículo Column -->
      <ng-container matColumnDef="FK2">
        <th mat-header-cell *matHeaderCellDef>Tipo de Vehículo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoVehiculo?.nombre_vehiculo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="g">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.id_ruta)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>