/* === FORM FIELDS === */
mat-form-field {
  width: 60%;
}

/* Label del mat-form-field */
.mat-mdc-form-field-label {
  color: #000000 !important; /* negro */
}

/* Texto dentro del input */
.mat-mdc-input-element {
  color: #000000 !important; /* negro */
}

/* Caja del formulario */
.mdc-text-field {
  background: #ffffff !important; /* blanco */
  color: black !important;
  border-radius: 8px !important;
  border: 1px solid #00ff8055 !important;
}

/* Borde al enfocar */
.mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #00d26a !important;
}

/* Placeholder */
.mat-mdc-input-element::placeholder {
  color: #00000080;
}


/* === SELECT (mat-select) === */
.mat-mdc-select-min-line {
  color: #000000 !important;
}

.mat-mdc-select-trigger {
  color: #000000 !important;
}

.mat-mdc-option {
  background: #ffffff !important;
  color: #000000 !important;
}

.mat-mdc-option:hover {
  background: #00ff9520 !important;
}


/* === BOTÓN REGISTRAR / EDITAR === */
button[matButton="elevated"] {
  background-color: #00d26a;  /* verde */
  color: #000000;             /* texto negro */
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
  font-weight: 600;
  box-shadow: 0 0 8px #00ff8066;
}

button[matButton="elevated"]:hover {
  background-color: #00ff95;
}
