button[matButton] {

 font-size: 0.8rem;

 font-weight: 500;

 border-radius: 6px;

 padding: 4px 12px;

 color: rgb(238, 244, 241);

 text-transform: none;

 transition: all 0.25s ease;

 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

 background-color: rgb(242, 94, 35);

}

th {
  background: #00d26a;
  color: rgb(226, 217, 217) !important;
  font-weight: 700;
}

table {
  background: #111418;
  color: white;
}

h2 {
  color: #00ff80 !important;  
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

