/* ============================
   FORM FIELDS (mat-form-field)
============================ */

h2 {
  color: #2fb9a3 !important;     /* Verde petróleo */
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}


mat-form-field {
  width: 60%;
}

/* Label del input */
.mat-mdc-form-field-label {
  color: #ffffff !important; /* blanco */
}

/* Texto dentro del input */
.mat-mdc-input-element {
  color: #000000 !important; /* negro */
}

/* Caja del formulario */
.mdc-text-field {
  background: #1a1d21 !important;  /* fondo oscuro */
  color: #000000 !important;       /* texto negro */
  border-radius: 8px !important;
  border: 1px solid #2fb9a3 !important; /* borde verde petróleo */
}

/* Placeholder */
.mat-mdc-input-element::placeholder {
  color: #cccccc !important; /* gris claro */
}

/* Borde al enfocar */
.mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #4dd3be !important; /* verde claro */
}

/* ============================
   SELECT (mat-select)
============================ */
.mat-mdc-select-trigger {
  color: #ffffff !important; /* texto blanco */
}

.mat-mdc-select-min-line {
  color: #e8e8e8 !important; /* blanco suave */
}

.mat-mdc-option {
  background: #1a1d21 !important; /* menú oscuro */
  color: #ffffff !important;
}

.mat-mdc-option:hover {
  background: rgba(47,185,163,0.25) !important;
}

/* ============================
   BOTÓN REGISTRAR / EDITAR
============================ */
button[matButton="elevated"] {
  background-color: #2fb9a3;  /* verde petróleo */
  color: #000000;             /* negro */
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
  font-weight: 600;
  box-shadow: 0 0 8px rgba(47,185,163,0.35);
}

button[matButton="elevated"]:hover {
  background-color: #4dd3be; /* verde claro */
}
