<div class="container">

  <div style="text-align: center; margin: 5%;">
    <h2>Lista de Reseñas</h2>
  </div>

  <div class="card-grid">

    @for (element of dataSource.data; track element.id_resenia) {

    <mat-card class="resenia-card mat-elevation-z4">

      <mat-card-header>
        <mat-card-title>Reseña #{{ element.id_resenia }}</mat-card-title>
        <mat-card-subtitle>Usuario: {{ element.usuario.nombre }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <p><strong>Comentario:</strong> {{ element.comentario }}</p>
        <p><strong>Calificación:</strong> {{ element.calificacion }}/5 ⭐</p>
        <p><strong>Fecha:</strong> {{ element.fecha }}</p>

      </mat-card-content>

      <mat-card-actions style="display: flex; justify-content: flex-end; margin-top: 10px;">

        @if (rolUsuario === 'ADMIN' || rolUsuario === 'MODERADOR' ) {
        <button mat-icon-button (click)="eliminar(element.id_resenia)">
          <mat-icon>delete</mat-icon>
        </button>
        }


      </mat-card-actions>

    </mat-card>

    }

  </div>
</div>
