/* ===== Sidebar ===== */
.sidebar {
  width: 260px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.logo-text {
  margin-left: 10px;
}

/* ===== Menu ===== */
.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 10px;
}

.menu li {
  padding: 12px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  color: #4b5563;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.menu li:hover {
  background: #f3f4f6;
}

.menu li.active {
  background: #000;
  color: white;
}

/* ===== Dark mode button ===== */
.dark-mode {
  margin-top: auto;
  padding: 12px;
  border-radius: 10px;
  background: #f3f4f6;
  cursor: pointer;
  text-align: center;
}

/* ===== Contenido a la derecha de la sidebar ===== */
.content {
  margin-left: 260px; /* espacio para la sidebar */
  padding: 50px 20px 20px 20px; /* arriba, derecha, abajo, izquierda */
  flex-grow: 1;
  background-color: #f5f5f5;
}

/* ===== Tabla ===== */
table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell, .mat-cell {
  text-align: center;
}

button[mat-button] {
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 6px;
  padding: 4px 12px;
  color: #fff;
  background-color: #f25e23;
  text-transform: none;
  transition: all 0.25s ease;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}

button[mat-button]:hover {
  background-color: #d94c1a;
}
