<div class="container">
  <div style="text-align: center; margin: 5%"><h2>Registro de Zonas</h2></div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
      @if(edicion){
        <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" type="text" readonly/>
      </mat-form-field>
      }
      <br />
      <mat-form-field>
        <mat-label>Zona</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error> @if (form.get('nombre')?.hasError('required')) { Ingrese nombre!! } </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Distrito</mat-label>
        <mat-select formControlName="distrito">
          @for (t of distritosZonas; track t) {
          <mat-option [value]="t.value">{{ t.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-error> @if (form.get('distrito')?.hasError('required')) { Ingrese distrito!! } </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Estado Zona</mat-label>
        <mat-select formControlName="estadoZona">
          @for (t of estadosZona; track t) {
          <mat-option [value]="t.value">{{ t.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-error> @if (form.get('estadoZona')?.hasError('required')) { Ingrese estado!! } </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Latitud</mat-label>
        <input matInput formControlName="latitud" type="number" />
        <mat-error> @if (form.get('latitud')?.hasError('required')) { Ingrese latitud!! } </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Longitud</mat-label>
        <input matInput formControlName="longitud" type="number" />
        <mat-error> @if (form.get('longitud')?.hasError('required')) { Ingrese longitud!! } </mat-error>
      </mat-form-field>
      

      <div>
        <button matButton="elevated">Guardar</button>
      </div>
    </form>
  </div>
</div>
