table {
  background: #111418;
  color: white;
}
th {
  background: #00d26a;
  color: rgb(226, 217, 217) !important;
  font-weight: 700;
}

td {
  color: #e8e8e8;
}

button[matButton] {
  background: #00d26a;
  color: black;
  border-radius: 8px;
}

th.mat-header-cell {
  color: #d8fdd0 !important;  /* verde muy claro */
  font-weight: 600;
  font-size: 14px;
}


button[matButton]:hover {
  background: #00ff95;
}

h2 {
  color: #00ff80 !important;  
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
button[matButton] {

 font-size: 0.8rem;

 font-weight: 500;

 border-radius: 6px;

 padding: 4px 12px;

 color: rgb(238, 244, 241);

 text-transform: none;

 transition: all 0.25s ease;

 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

 background-color: rgb(242, 94, 35);

}