<div class="container">
  <div style="text-align: center; margin: 5%"><h2>Registro de Roles</h2></div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      @if (edicion) {
      <mat-form-field class="example-full-width">
        <mat-label>ID:</mat-label>
        <input matInput formControlName="codigo" readonly="true" />
        <mat-error> @if (form.get('id')?.hasError('required')) { Ingrese ID!! } </mat-error>
      </mat-form-field>
      }

      <br />
      
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rol">
          @for (t of listaRoles; track t) {
          <mat-option [value]="t.value">{{ t.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-error> @if (form.get('rol')?.hasError('required')) { Ingrese Rol !! } </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="FK">
          @for (dev of listaUsuarios; track dev) {
          <mat-option [value]="dev.id_usuario">{{ dev.nombre }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <button matButton="elevated">{{ edicion ? 'Editar' : 'Registrar' }}</button>
      </div>
    </form>
  </div>
</div>

