table {
  background: #111418;
  color: white;
}
.content {
  margin-top: 70px; /* Ajusta este valor según sea necesario */
}

th {
  background: #00d26a;
  color: rgb(226, 217, 217) !important;
  font-weight: 700;
}

td {
  color: #e8e8e8;
}

button[matButton] {
  background: #00d26a;
  color: black;
  border-radius: 8px;
}

th.mat-header-cell {
  color: #d8fdd0 !important;  /* verde muy claro */
  font-weight: 600;
  font-size: 14px;
}


button[matButton]:hover {
  background: #00ff95;
}

h2 {
  color: #00ff80 !important;  
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}


